* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}

body {
    background-color: black;
}

#topbar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    margin: 5px 2px 0;
}

#topbar .btn {
    background-color: #4a4a4aff;
    border-radius: .2em;
}

.btn {
    padding: .2em;
    margin: 0 .2em;    
}

i {
    margin: .2em;
}

main {
    margin: 2.5em 5em;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content:center;
    height: calc(100vh - 55px - 80px - 5em);
}

.preview {
    height: 100px;
    width: 180px;
    background-image: url("https://picsum.photos/180/100");
    display: flex;
    align-items: flex-end;
    padding: .2em 0;
    margin: 0 .2em 1em;
}

.preview .name {
    background-color: rgba(0, 0, 0, 0.5);
    padding: .2em .5em .2em .2em;
}

#bottombar {
    background-color: #222222ff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottombar #left {
    display: flex;
    margin-left: 5px;
}

#central {
    display: flex;
    justify-content: center;
    width: 80%;
}

#bottombar .up {
    display: flex;
    align-items: center;
}

#bottombar .btn {
    text-align: center;
}

#bottombar .btn i {
    font-size: 2rem;
}

#bottombar .up > i {
    font-size: 1rem;
    margin-left: 1em;
}

#central .up > div i {
    color: #4bc800ff;
}

#bottombar > div:last-child {
    height: 80px;
    padding: calc(40px - .5em) 2em;
    color: red;
    background-color: #4a4a4aff;
}
